.footer {
    position: fixed;
    bottom: 18px;
    width: 100%;
    height: 24px;
    z-index: 1000;
}

.footer__wrap {
    height: inherit;
    padding-left: 70px;
    padding-right: 70px;
}

.footer__logo {
    height: 14px;
}