.header {
    position: fixed;
    top: 26px;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.header__wrap {
    height: inherit;
    padding-left: 70px;
    padding-right: 70px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-button {
    display: flex;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}

.header__menu-divider {
    margin: 0 26px;
}