.layout {
    height: 100vh;
    width: 100vw;
    /* position: absolute; */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/bg.png');
    padding: 110px 100px 70px 140px; */
}